<h2>New merchant</h2>

<form action= "/merchants" method= "post">
  <label for="new-merchant"> New merchant</label>
  <input id= "new-merchant" type= "text" name= "merchant_name" />
  <input type = "submit" value= "Add merchant">
</form>
