
<div class= "master_flexbox">
  <div class= "stats_alerts" >
    <section class= "report warning">warning1
    </section>
    <section class= "report info">info1
    </section>
    <section class= "report warning">warning2
    </section>
    <section class= "report info">info2
    </section>
    <section class= "report warning">warning3
    </section>
    <section class= "report info">info3
    </section>
    <section class= "report stats_long">long stats
    </section>
    <section class= "report warning">warning4
    </section>
    <section class= "report info">info4
    </section>
  </div>
</div>
