<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>FINANCE TRACKER</title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
</head>
<body>
  <nav>
      <a class= "a_longer" href="/">HOME</a>
      <a href="/transactions">TRANSACTIONS</a>
      <a href="/merchants">MERCHANTS</a>
      <a href="/tags">TAGS</a>
  </nav>
    <div class= "all_content">
      <%= yield %>
    </div><!--/all_content-->
</body>
</html>
