<h1>Tags</h1>



<h2>Available tags:</h2>
<%counter = 1%>
<table>
  <tr>
    <th>No</th>
    <th>Tag</th>
    <th>Actions</th>
  </tr>
  <% for tag in @tags %>
      <tr>
        <td><%=counter%></td>
        <td><%= tag.tag_name.capitalize %></td>
        <td> <form class= "button" action= "/tags/<%=tag.id%>/edit" method= "post">
            <input type="submit" value= "Edit">
          </form>
          <form class= "button" action= "/tags/<%=tag.id%>/delete" method= "post">
            <input type="submit" value= "Delete">
          </form>
        </td>
      </tr>
      <%counter += 1%>
  <%end%>
</table>

<a href="/tags/new">Create tag</a>
