<h2>New tag:</h2>

<form action= "/tags" method= "post">

  <label for="new-tag"> New tag</label>
  <input id= "new-tag" type= "text" name= "tag_name" />
  <input type = "submit" value= "Add tag">
</form>
