body {
  margin: 0;
font-family: 'Roboto', sans-serif;
}



/*===========================================  NAV */
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #5D5E54;
  margin: 0 0 2em 0 ;
}

nav a {
  margin: 1em ;
  color: #fff;
  text-decoration: none;
}
 a:hover  {
  color: #E37B40;
}

.a_longer {
  margin: 1em 5em 0 5em;
}

/*=========================================== TABLES :*/

td {
  padding: 0.1em 0.5em  ;
}





/*=========================================== :*/

.button {
  display: inline;
}

.all_content{
  margin: auto;
  width: 80%;
}

.master_flexbox {
  margin: auto;
  /* background-color: grey; */
}

.stats_alerts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.report{
  margin: 0.1em;
  border-radius: 5px;
  min-width: 48%;
  min-height: 10rem;
  flex: 1;
  font-size: 1.5rem;
}
.report:hover{
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.mini{
  min-width: 18%;
}



.info{
  background-color: #46B29D;
}

.info p,
.warning p {
  margin-left: 2rem;
}

.money-text{
  font-size: 2rem;
  font-weight: 200;
}

.warning{
  background-color: #DE5B49;

}

.stats-long {
  min-width: 98%;
  background-color: #899EB0;
  display: flex;
  flex-direction: row;
}


.inside-stats-long{
  flex: 2;
}

.stats-long p {
  margin-left: 2rem;
  flex: 1;
}

.mini-long{
min-height: 3.5rem;
}

.spending {
  background-color: #F1E4B3;
}
